
{% load static %}




<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="footer-social">
                    <li><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>














<!--**********main div end*********************-->

</div><!--main div end-->

<!-- jQuery and Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script>


</body>

</html>