{% load static %}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--this are links u should have to imports-->
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!--Google font style link imported-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap" rel="stylesheet">

    <title>Recipe | Home</title>

    <link rel="icon" href="{% static 'asset/image/recipe-book.png' %}"> 

    <style>

    </style>
</head>

<body>
    <div class="container-fluid"> <!--Main div in this div u do whatever u want to do -->

        <!--**********main div start*********************-->


        <div class="row sticky-tagline"><!--tag line section -->

            <div class="col-12  heading">YOUR CHOICE <img src="{% static 'asset/image/cutlery.png' %}"> YOUR TASTE
            </div>

        </div>

        <!---------------------------------->




        <div class="row sticky-header"> <!--header start-->



            <nav class="navbar navbar-expand-lg bg-body-tertiary">


                <div class="container-fluid">


                    <a class="navbar-brand" href="#">
                        <img src="{% static 'asset/image/vegan.png' %}"> <span style="font-size: 25px;">Pure Veg</span>
                    </a>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="recipe.html">Add Recipe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Logout</a>
                            </li>



                            <li class="nav-item dropdown"><!--drop down menu start-->
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">rice</a></li>
                                    <li><a class="dropdown-item" href="#">soup</a></li>
                                    <li><a class="dropdown-item" href="#">milkshake</a></li>
                                    <li><a class="dropdown-item" href="#">indian</a></li>
                                    <li><a class="dropdown-item" href="#">chinese</a></li>
                                    <li><a class="dropdown-item" href="#">streetfood</a></li>

                                </ul>

                            </li><!--dro down list menu end-->







                        </ul>

                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>

                        <p class="userloginname">hardik thakur</p>



                    </div>


                </div>
            </nav>



        </div><!--header ends-->